extends home

block content
    if !user
        .container.loginform
            form(method="POST" enctype='multipart/form-data' action='/user/register')
                h1 Register
                p Please fill in this form to create an account.
                hr
                label Name
                br
                input(type='text', placeholder='Enter Name', name='name')
                br
                label Email
                br
                input(type='text', placeholder='Enter Email', name='email')
                br
                label Password
                br
                input(type='password', placeholder='Enter Password', name='password')
                br
                label Repeat Password
                br
                input(type='password', placeholder='Repeat Password', name='password2')
                br
                hr
                p
                    | By creating an account you agree to our 
                    a(href='#') Terms & Privacy
                    | .
                br
                button.registerbtn(type='submit') Register
                br
                p
                    | Already have an account? 
                    a(href='/user/login') Sign in
                    | .
